@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background: linear-gradient( rgba(20, 34, 60, 0.65), rgba(33, 57, 91, 0.75) ), url("https://images.unsplash.com/photo-1519681393784-d120267933ba?auto=format&fit=crop&q=80&w=2070");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: white;
    }


    .flake {
        position: fixed;
        top: -20px;
        width: 8px;
        height: 8px;
        background: white;
        border-radius: 50%;
        opacity: 0.7;
        pointer-events: none;
        z-index: 99999;
        animation: fall2 linear forwards;
    }

    @@keyframes fall2 {
        0% {
            transform: translateX(0) rotate(0deg);
        }
        50% {
            transform: translateX(30px) rotate(180deg);
        }
        100% {
            transform: translateY(100vh) translateX(-30px) rotate(360deg);
        }
    }


    html, body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    footer {
        margin-top: auto;
    }

</style>

<script>
    function newSnowflake() {
        const flake = document.createElement("div");
        flake.classList.add("flake");

        // Размери
        let size = Math.random() * 6 + 4;
        flake.style.width = size + "px";
        flake.style.height = size + "px";

        // Позиция
        flake.style.left = Math.random() * 100 + "vw";

        // Прозрачност
        flake.style.opacity = Math.random() * 0.7 + 0.3;

        // Продължителност на падането
        flake.style.animationDuration = Math.random() * 5 + 4 + "s";

        // Леко отклонение наляво/надясно
        flake.style.setProperty("--drift", (Math.random() * 60 - 30) + "px");

        document.body.appendChild(flake);

        // Премахване след края
        setTimeout(() => flake.remove(), 9000);
    }

    // Прави нова снежинка на всеки 120ms
    setInterval(newSnowflake, 120);
</script>



<div class="text-center">
    <h1 class="display-4 mb-5"
        style="font-family: 'Times New Roman', Times, serif; padding: 100px;">
        Presents for Christmas
    </h1>

    <div class="d-flex flex-column align-items-center gap-3">
        <a asp-action="Create" asp-controller="Gift" class="btn btn-primary btn-lg w-50">
            Add a present
        </a>

        <a asp-action="Download" asp-controller="Gift" class="btn btn-success btn-lg w-50">
            Pull a present
        </a>
    </div>
</div>
